{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/single.css" media="all">
<script src="https://kit.fontawesome.com/5bf9a901de.js" crossorigin="anonymous"></script>
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="list-page">
    

    <div class="row justify-content-center">
        <div class="title">
            <h1 class="text-center mb-5" style="opacity:0.8">{{ .Title }}</h1>
        </div>
        <div class="col-lg-5 col-md-6 my-3">

        {{ range .Paginator.Pages }}
            {{ $image := resources.Get ( printf "images/%s" .Params.image ) }}
            
            <div class="short">
                
                <div class="row">
                    <div class="col-auto">
                        <img class="crop" src="{{ ( $image.Resize "600x" ).RelPermalink }}" alt="{{ .Title }}">
                    </div>
                    <div class="col short-text">
                        <h6>{{ .Title }}</h6>
                        <span class="text-secondary small">{{ .Date.Format "Jan 2, 2006" }}</span>
                    </div>
                </div>
                <a class="stretched-link" href="{{.RelPermalink}}"></a>
            </div>

            <!-- <p>{{ .Summary | truncate 300}}</p> -->
        {{ end }}
        </div>
        <div class="row justify-content-center">
            <div class="col-auto m-3">
                {{template "_internal/pagination.html" . }}
            </div>
        </div>
    </div>
    </div>
</div>
<style>
    .short {
        padding: 15px;
        /* margin-bottom: 2px; */
        position: relative;
    }
    body.dark .short:hover {
        /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
        background: linear-gradient(
          rgba(255, 255, 255, 0.05), 
          rgba(255, 255, 255, 0.05)
        )
    }
    body:not(.dark) .short:hover {
        /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
        background: linear-gradient(
          rgba(0, 0, 0, 0.05), 
          rgba(0, 0, 0, 0.05)
        )
    }
    .crop {
        width: 150px;
        height: 112px;
        object-fit: cover;
    }
    @media all and (max-width: 750px) {
        .crop {
            width: 150px;
            height: 113px;
            object-fit: cover;
        }
    }
    
</style>

{{ end }}