{{ define "head" }}
<meta name="description" content="{{ .Params.description }}">
{{ $image := resources.Get ( printf "images/%s" .Params.image ) }}
{{ $imagelink := absURL $image.RelPermalink }}
<meta name="image" content="{{ $imagelink }}">
<meta name="twitter:image" content="{{ absURL $imagelink }}">
<meta name="og:image" content="{{ absURL $imagelink }}">
<link rel="stylesheet" href="{{.Site.Params.staticPath}}/css/single.css">

<!-- fontawesome -->
<script src="https://kit.fontawesome.com/5bf9a901de.js" crossorigin="anonymous"></script>
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section id="single">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-11 col-md-10 col-lg-6">
        <div class="pr-lg-4">
          <div class="title mb-5">
            <h1 class="text-center mb-4">{{ .Title }}</h1>
            <div class="text-center">
              {{ .Date.Format "Jan 2, 2006" }}
            </div>
          </div>
          {{ if .Params.image }}
          <div class="featured-image">
            {{ $image := resources.Get ( printf "images/%s" .Params.image ) }}
            <img class="img-fluid" style="display: block;
            margin-left: auto;
            margin-right: auto;"  src="{{ ( $image ).RelPermalink }}" alt="{{ .Title }}">
            {{ if .Params.caption }} <figcaption>{{ .Params.caption | safeHTML }}</figcaption> {{ end }}
          </div>
          {{ end }}
          <article class="page-content  p-2">
          {{ .Content | emojify }}
          </article>
        </div>
      </div>
    </div>
    
  </div>
  <button class="p-2 px-3" onclick="topFunction()" id="topScroll">
    <i class="fas fa-angle-up"></i>
  </button>
</section>

<script>
  var topScroll = document.getElementById("topScroll");
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topScroll.style.display = "block";
    } else {
      topScroll.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

{{ end }}
