{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/index.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/projects.css" media="all">

<!-- fontawesome -->
<!-- <script defer src="{{ .Site.Params.staticPath }}/fontawesome-5/all-5.15.4.js"></script> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<script src="https://kit.fontawesome.com/5bf9a901de.js" crossorigin="anonymous"></script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}



{{ define "main" }}
{{- partial "sections/hero/index.html" . -}}
{{- partial "sections/about.html" . -}}


<div class="collapsing-group">
    <div id="portfolio" class="container text-center">
        <h1 class="pt-4">Portfolio</h1> 
        <a class="btn animate__animated" style="color:var(--text-color)" id="pfolio-expand" onclick="ptoggle()">
            <i class="fas fa-angle-down fa-lg" aria-hidden="true" id="expand"></i>
            <i class="fas fa-angle-up fa-lg" aria-hidden="true" id="collapse"></i>
        </a>
        
    </div>



    <div class="portfolio animate__animated" id="pfolio-section">
        {{- partial "sections/experience.html" . -}}
        {{- partial "sections/education.html" . -}}
        {{- partial "sections/extracurriculars.html" . -}}
        {{- partial "sections/projects.html" . -}}
        {{- partial "sections/achievements.html" . -}}
        </div>
</div>

{{- partial "sections/contact.html" . -}}
{{ end }}